{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>
{% include 'tab.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th> {% trans %}Id{% endtrans %}</th>
                <th> {% trans %}Name{% endtrans %}</th>
                <th> {% trans %}Description{% endtrans %}</th>
                <th> {% trans %}Availability{% endtrans %}</th>
                <th> {% trans %} Type{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td> {{ course.id }}  </td>
                <td> {{ course.name }}  </td>
                <td> {{ course.description }}  </td>
                <td> {{ course.availability ? 'Yes' : 'No' }}  </td>
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
