{% extends 'base.html.twig' %}

{% block title %}EventType index{% endblock %}

{% block body %}
    <h1>EventType index</h1>
{% include 'tab.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for event_type in event_types %}
            <tr>
                <td>{{ event_type.id }}</td>
                <td>{{ event_type.name }}</td>
                <td>{{ event_type.description }}</td>
                <td>
                    <a href="{{ path('app_event_type_show', {'id': event_type.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_event_type_edit', {'id': event_type.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_type_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
