{% block stylesheet %}

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media(min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}


		@media(min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
{% endblock %}


{# first Navbar  

<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Expand at md</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown04">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</li>
			</ul>
			<form>
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
			</form>
		</div>
	</div>
</nav>


{# End Navbar #}


{# Second Navbar #}


<nav class="navbar navbar-expand-md  bg-warning" aria-label="Main navigation">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">EVENTAPP</a>
		<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('home') }}">
						{% trans %}Home{% endtrans %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_course_index') }}">{% trans %}Course{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">{% trans %}Profile{% endtrans %}</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown01">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>


				</li>

				<li class="nav-item dropdown">
					{% if app.user %}


						<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">User</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown01">
							<li class="nav-item w3-padding-small w3-small">
								<a class="nav-link w3-round-large   " href="{{path("user_profile",{"id": app.user.id })}}">
									<span class="fa fa-user-circle "></span>
									{{ app.user.username }}</a>
							</li>
							<li class="nav-item  w3-padding-small">

								<a class="nav-link w3-round-large w3-small w3-hover-red w3-text-red " href="{{ ('app_logout') }}">
									<span class="fa fa-sign-out w3-red"></span>
									{% trans %}Logout{% endtrans %}</a>
							</li>
						{% else %}

								<a class="nav-link w3-teal w3-center w3-round-large" href="{{ path('app_login') }}">
									<span class="fa fa-user"></span>
									{% trans %}Login
									{% endtrans %}
								</a>

								<ul class="dropdown-menu" aria-labelledby="dropdown01">
									<li class="nav-item ">
										<a class="nav-link w3-teal w3-center w3-round-large" href="{{ path('app_login') }}">
											<span class="fa fa-user"></span>
											{% trans %}Login
											{% endtrans %}
										</a>
										<a class="nav-link w3-teal w3-center w3-round-large" href="{{ path('app_register') }}">
											<span class="fa fa-plus"></span>
											{% trans %}Register
											{% endtrans %}
										</a>
									</li>
								{% endif %}

							</ul>
						</li>
					</li>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

<div class="nav-scroller bg-body shadow-sm">
	<nav class="nav nav-underline" aria-label="Secondary navigation">
		<a class="nav-link active" aria-current="page" href="#">Dashboard</a>
		<a class="nav-link" href="#">
			Friends
			<span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
		</a>
		<a class="nav-link" href="#">Explore</a>
		<a class="nav-link" href="#">Suggestions</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</nav>
</div>
{# end second Nav bar #}
